* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  /* background-color: black; */
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 20px;
}

.banner-site {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

/* ////Header///// */
.header-container-img {
  /* width: 1920px; */
  height: 50px;
  background-color: black;
  margin: 0 auto;
}

.header-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  width: 120px;
  height: 40px;
}

/* Navbar */

.navbar-container {
  height: 30px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: black;
  border-top: solid 1px grey;
}

.blue {
  margin-top: 20px;
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fiche {
  /* background-color: bisque; */
  width: calc(1120px / 5);
  height: 430px;
  cursor: pointer;
}

.fiche:hover {
  color: red;
}

.fiche-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: top;
  box-shadow: 0px 10px 15px rgb(184, 182, 182);
}

.fiche-img:hover {
  transform: translateY(-15px);
  transition: 0.2s;
}

.fiche-img-perso {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: top;
  font-weight: bold;
}

.fiche-title {
  margin-top: 1.8rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 700;
  height: 1rem;
  overflow: hidden;
}

.fiche-p {
  font-size: 0.8rem;
  color: black;
  height: 0.8rem;
  overflow: hidden;
}
.fiche:hover {
  color: red;
}

.fiche-2 {
  background-color: black;
  width: calc(1120px / 5);
  height: 360px;
  position: relative;
  overflow: hidden;
}

.fiche-2::before {
  content: "";
  border-bottom: 23px solid white;
  border-left: 20px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.fiche-img-2 {
  width: 100%;
  height: 60%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  scale: 1;
  overflow: hidden;
}

.fiche-img-2:hover {
  transform: scale(1.1);
}

.fiche-title-2 {
  padding-top: 1.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  height: 1rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 60%;
  left: 0;
  right: 0;
  background-color: red;
  transition: 0.2s ease-in-out;
}

.container-fiche:hover .overlay {
  height: 144px;
  background-color: red;
  transition: 0.2s ease-in-out;
}

/* ///////Single Page//////// */
.single-card {
  /* margin-top: 10px; */
  height: 600px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.left {
  width: 400px;
  height: 100%;
  background-color: aquamarine;
}

.single-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 10px 5px rgb(4, 4, 4);
}

.right {
  width: 800px;
  height: 100%;
  /* background-color: lavender; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-top {
  /* background-color: blueviolet; */
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: solid black 1px; */
}
.right-bot {
  /* background-color: orange; */
  width: 100%;
  height: 300px;
  display: flex;
  overflow-x: scroll;
  /* border: solid black 1px; */
}

.single-card-comic {
  margin: 10px;
  width: 200px;
  height: 90%;
  display: flex;
  /* background-color: brown; */
  margin-right: 10px;
  flex-direction: column;
  font-size: 1rem;
  border: 3px solid black;
  box-shadow: 2px 5px 5px rgb(4, 4, 4);
}

.single-card-comic-img {
  margin-bottom: 1rem;
  width: 193px;
  height: 80%;
}

.p-single-card {
  height: 2rem;
  overflow: hidden;
  padding: 2px;
}

.single-card-name {
  font-weight: 600;
  font-size: 1.5rem;
}

.btn-fav {
  position: relative;
  width: 200px;
  padding: 0.5rem;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.btn-fav::before {
  content: "";
  /* border-bottom: 23px solid transparent; */
  /* border-left: 20px solid black; */
  border-right: 15px solid bisque;
  /* border: style solid; */
  border-top: 15px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.btn-fav::after {
  content: "";
  /* border-bottom: 23px solid transparent; */
  /* border-left: 20px solid black; */
  border-right: 15px solid transparent;
  border: style solid;
  border-top: 15px solid bisque;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/* /////Pagination///// */
.pagination {
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  gap: 10px;
}

.block-pagination {
  background-color: black;
  width: 65px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

/* //////FILTER//////// */

.filter {
  margin-top: 1rem;
  /* background-color: black; */
  height: 50px;
  display: flex;
  justify-content: center;
}

.filter-container {
  /* width: 600px; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}

.limit {
  /* background-color: bisque; */
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.search-bar {
  /* margin-left: 10px; */
  font-size: 1rem;
  padding: 0.5rem;
  width: 500px;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid black;
}

.limit-block {
  width: 40px;
  /* background-color: green; */
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  /* border: solid 1px white; */
  background-color: black;
}

/* ///////////Footer/////////// */

.footer-container-img {
  /* width: 1920px; */
  padding-top: 20px;
  height: 80px;
  background-color: black;
  margin: 0 auto;
}

.footer-flex {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-img {
  width: 120px;
  height: 40px;
}

.p-footer {
  color: white;
  margin-left: 20px;
}

.single-card-img-fav {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 10px 5px rgb(4, 4, 4);
}

.left-fav {
  width: 500px;
  height: 100%;
}

.single-card-fav {
  /* margin-top: 10px; */
  height: 600px;
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.right-fav {
  width: 650px;
  height: 100%;
  /* background-color: lavender; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
